@font-face {
  font-family: "Pretendard";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Pretendard", sans-serif;
}

.whole-warrper {
  max-width: 1280px;
  margin: auto;
}

header {
  padding: 0 40px;
  margin: 20px 0 60px;
}

.h1-title {
  font-size: 48px;
  text-align: center;
}

textarea {
  vertical-align: bottom;
  resize: none;
}

.memoGenerator {
  display: flex;
  margin-bottom: 40px;
  gap: 15px;
  padding: 0 40px;
}

.memoText {
  display: flex;
  flex-direction: column;
  gap: 15px;
  flex-grow: 3;
}

input,
textarea {
  font-family: inherit;
  color: #3e3e3e;
  background-color: whitesmoke;
  border: 1px solid #cecece;
  border-radius: 3px;
}

#title {
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
}

#content {
  font-size: 24px;
  font-weight: 600;
  height: 200px;
  padding: 10px;
}

input:focus-visible,
textarea:focus-visible {
  outline: 1.5px solid #f1a232;
}

input::placeholder,
textarea::placeholder {
  color: #cecece;
}

.memoButton {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 100px;
  /* display: flex; */
  gap: 15px;
  display: flex;
  flex-direction: column;
}

.memoButton button {
  font-size: 18px;
  font-weight: 600;
  color: white;
  border: 1.5px solid #f1a232;
  background-color: #ffcf5c;
  /* width: 100%; */
  border-radius: 3px;
  cursor: pointer;
}

.memoButton button:hover {
  filter: brightness(0.9);
  transition: 0.3s;
}

.memoButton button:first-child {
  flex-grow: 2;
}

.memoButton button:last-child {
  flex-grow: 1;
}

.memoContainer {
  height: 300px;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.memoCard {
  list-style: none;
  background-color: #ffcf5c;
  border: 1px solid #f1a232;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15);
  /* padding: 1rem; */
  width: 140px;
  height: 180px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.2);
  transform-origin: center center;
}

.memoCard:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.delBtn {
  font-size: 12px;
  background: none;
  border-radius: 3px;
  border: none;
  width: 30px;
  height: 30px;
  position: absolute;
  cursor: pointer;
}

.delBtn:hover {
  filter: brightness(0.8);
  transition: 0.3s;
}

.delBtn:before,
.delBtn::after {
  content: "";
  width: 1.5px;
  height: 20px;
  left: 15px;
  top: 5px;
  background-color: #f1a232;
  position: absolute;
}

.delBtn:before {
  transform: rotate(45deg);
}

.delBtn::after {
  transform: rotate(-45deg);
}

.scrollDown {
  width: 70px;
  height: 70px;
  font-size: 30px;
  border-radius: 10%;
  color: white;
  background-color: #ffcf5c;
  border: 1px solid #f1a232;
  position: fixed;
  bottom: 10%;
  right: 5%;
  transition: 0.3s;
  cursor: pointer;
}

.scrollDown:hover {
  filter: brightness(0.9);
  transition: 0.3s;
}

.memoTime {
  font-size: 12px;
  position: absolute;
  color: #f1a232;
  right: 7px;
  bottom: 7px;
}
