.card {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-item {
  width: 100px;
  height: 100px;
}

.product {
  display: flex;
  justify-content: right;
  align-items: right;
}

.product-item {
  width: 200px;
  height: 200px;
  border-radius: 20%;
}
